<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div>
        <%= render 'form' %>
      </div>
      <div>
        <% @posts.each do |post| %>
        <div class="post">
          <h3><%= post.user.name %></h3>
          <%= image_tag post.image.url(:medium) %>
          <div><%= render 'like_form', p: post %></div>
          <hr>
          <% if post.likes.count != 0 %>
            <p><%= post.likes.count %> like
              <% if post.likes.count > 1 %>s <% end %>
            </p>
          <% else %>
            <p>No likes yet</p>
          <% end %>
          <p><%= post.body %></p>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>